/* =============
    Section 5
============= */
#section-5-image{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". image .";

    img{
        grid-area: image;
        width: 100%
        }
    }

#section-5-content{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-5-content .";

    p{
        grid-area: section-5-content;
    }

}