/* =============
    Section 5
============= */

#section-5 {
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-5 .";

    @include xl {
        grid-template-columns: auto 1200px auto;
    }

    #section-5-container {
        display: grid;
        grid-area: section-5;
        grid-template-rows: 2;
        align-items: center;
        grid-template-areas: 
        "pic"
        "article";
        grid-gap: 20px;
        // @include md {
        //     grid-template-rows: 2;
        // }

        @include lg {
            grid-template-columns: 30% 70%;
            grid-template-areas: "pic article";
        }

        #section-5-image {
            grid-area: pic;

            img {
                width: 100%;
            }

            @include md{
                justify-content: center;
            }

            // //  }
            // grid-template-columns: 15px auto 15px;
            // grid-template-areas: ". pic .";
        }

        #section-5-article {
            //display: grid;
            grid-area: article;
            // grid-template-columns: 15px auto 15px;
            // grid-template-areas: ". paragraph .";

            // p {
            //     grid-area: paragraph;
            // }

        }
    }
}