/* =============
    Section 5
============= */

#section-5 {
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-5 .";
    margin-top: 40px;

    @include xl {
        grid-template-columns: auto 1200px auto;
        margin-top: 50px;
    }

    @include lg {
        margin-top: 50px;
    }

    @include md {
        margin-top: 50px;
    }

    #section-5-container {
        display: grid;
        grid-area: section-5;
        grid-template-rows: 2;
        align-items: center;
        grid-template-areas:
            "pic"
            "article";
        grid-gap: 20px;


        @include lg {
            grid-template-columns: 30% 70%;
            grid-template-areas: "pic article";
        }


    }

    #section-5-image {
        display: flex;
        grid-area: pic;
        justify-content: center;
        margin-bottom: 20px;

        @include md {
            justify-content: center;

            aside {


                img {

                    width: 100%;

                    @include md {
                        display: flex;
                        grid-area: circle-image;
                        width: 318px;


                    }


                }



            }

            #section-5-article {

                grid-area: article;





            }
        }
    }

    p {
        @include sm {
            font-size: rem-calc(16);
            line-height: rem-calc(30);
        }

        @include md {
            font-size: rem-calc(16);
            line-height: rem-calc(30);
            padding-left: 60px;
            padding-right: 60px;
        }

        @include lg {
            font-size: rem-calc(16);
            line-height: rem-calc(30);
        }

        @include xl {
            font-size: rem-calc(16);
            line-height: rem-calc(30);
        }
    }
}